<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloSpring" class="com.tsoft.toby.HelloSpring"/>
	<bean class="com.tsoft.toby.ServletControllerTest.HelloServlet"/>
	<bean class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter"/>
	<!-- <bean id="helloSpring" class="com.tsoft.toby.HelloSpring"/>
	<bean id="helloSpring" class="com.tsoft.toby.HelloSpring"/> -->
<!-- 	<bean name ="/hello" class = "springbook...HelloController">
		<property name = "viewName" value ="WEB-INF/view/specialhello.jsp"/>
	</bean> -->
	

</beans>
